<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!-- CSS -->
<link href="/css/common.css" th:href="@{/css/common.css}"
  rel="stylesheet" />

<title>OMSBeta</title>
</head>
<body>
  <!-- JavaScript -->
  <script type="text/javascript" src="/js/common.js"
    th:src="@{/js/common.js}"></script>

  <!-- ヘッダー部 -->
  <!-- TODO: include, replace, sybstitutebyの違いについて調査次第、タグを確定 -->
  <!-- <div th:include="/common/header :: header"></div> -->
  <!-- <div th:replace="/common/header :: header"></div> -->
  <div th:substituteby="/common/header :: header"></div>
  <form th:action="@{/top/on_regist_application_clicked}" method="post">
    <input type="submit" name="toRegistApplicationButton" value="残業申請画面へ" />
  </form>

</body>
</html>